html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background: #efefef;
  margin: 0px auto;
  
}

ul  {
	background: white;
	border: 5px solid purple;
	border-radius: 20px;
	padding: 30px;
		
}

h1  {
	color: darkslategrey;
	border-bottom-style: dotted;
	border-bottom-color: purple;
	border-bottom-width: 10px;
	font-size: 2rem;
	
}

h2  {
	font-style: italic;
	font-size: 1.5rem;
		
}

div {
	color: darkslategrey;
	font-weight: 700;

}

a:link  {
	color: green;
	
}

a:hover  {
	color: darkgreen;
	text-decoration: none;
	
}